
#container {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.panel, h2, h3, .col-md-4 {
  text-align: center;
  font-size: 20px;
}

li {
  list-style: none;
  padding-bottom: 5%;
  text-align: left;
}

button {
  background-color: #4CAF50;
  border-color: #4CAF50;
  padding: 10px 10px;
}

#info {
  padding-left: 5%;
}

.row {
  margin-top: 15%;
  margin-bottom: 10px;

}
