extend layout
block content
  div(class="row")
    div(class="col-md-6 col-md-offset-3")
      div(class="alert alert-warning alert-dismissible")
        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
         p
           strong Following message was sent to your customers:
         p= message
