extend layout
block content
  .panel.panel-default
      h2 Shame The Clearing Agent Loserboard - Slowest Clearing Agent Leaderboard
    .col-md-6
      h3 Average Time To Discharge
      ul.list-group
        li.list-group-item.active Robert - 10 hours
        li.list-group-item John - 8 hours
        li.list-group-item Frank - 4 hours
        li.list-group-item Tim - 1 hour
    .col-md-6
      h3 Longest Time It Took Agent To Discharge
      ul
        li.list-group-item.active Robert - 18 hours on January 1, 2017
        li.list-group-item Robert - 13 hours on January 1, 2017
        li.list-group-item John - 12 hours on January 5, 2017
        li.list-group-item Frank - 10 hours on January 18, 2017
        li.list-group-item Tim - 5 hours on January 6, 2017
