extend layout
block content
  div(class="row")
    div(class="col-md-8 col-md-offset-2")
      div(class="alert alert-success alert-dismissible")
        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
         p
           strong Found and synchronized 9 customers.
      div(class="alert alert-info alert-dismissible")
        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
         p
           strong Created 35 new Consignees.
      div(class="alert alert-warning alert-dismissible")
        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
         p
           strong Please review if the following accounts.
  div(class="row")
    div(class="col-md-8 col-md-offset-2 text-center")
      - for(var key in review)
        div(class="panel panel-default")
          div(class="panel-body")
            div(class="row")
              div(class="col-md-4")
                p(style="padding:25px;")
                  b #{review[key].consignee_name}
              div(class="col-md-4")
                span(class="glyphicon glyphicon-resize-horizontal" style="font-size:64pt;")
              div(class="col-md-4")
                p(style="padding:25px;")
                  b #{review[key].match_name}
            div(class="row")
              div(class="col-md-12 text-center")
                button(class="btn btn-success matchbtn" data-value="same") Confirm
                button(class="btn btn-danger matchbtn" data-value="notsame" style="margin-left:5px;") Decline
  script.
    $(".matchbtn").on("click", function(e) {
      var panel = $(e.target).closest(".panel");
      panel.hide('slow', function(){ panel.remove(); });
    });
