extend layout
block content
  div(class="row")
    div(class="col-md-8 col-md-offset-2")
      h1(class="text-center") Please submit manifest file below.
      form(action="/synchronize/manifest" method="POST" enctype="multipart/form-data")
        div(class="form-group")
          label Manifest File
          input(type="file" name="file" class="form-control")
        div(class="form-group")
          a(href="/synchronize/manifest/review" class="btn btn-primary btn-lg") Submit
