extend layout
block content
  div(class="row")
    div(class="col-md-8 col-md-offset-2")
      h1(class="text-center") Please submit manifest file below.
      form(action="/manifest/confirmation" method="POST" enctype="multipart/form-data")
        div(class="form-group")
          label Cargo Status
          select(name="cargostatus" class="form-control")
            option(value="3DAYS")    Arrives in 3 days.
            option(value="TOMORROW") Arrives tomorrow.
            option(value="CUSTOMS")  Awaiting Customs.
            option(value="CLEARED")  Cleared Customs.
            option(value="PAYMENT")  Awaiting Payment.
            option(value="PICKUP")   Awaiting Pickup.
        div(class="form-group")
          label Manifest File
          input(type="file" name="file" class="form-control")
        div(class="form-group")
          button(type="submit" class="btn btn-primary btn-lg") Submit
